/*header*/

.topo {
    background-color: var(--green-1);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.topo__marca {
    font-size: 36px;
}


/*titulo da pagina*/

.titulo__cardapio {
    padding: 5px;
    margin: 20px;
}


/*itens do menu*/

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn__adicionar-carrinho:hover {
    background-color: #555;
}

.menu__title {
    font-size: 2rem;
    text-align: center;
}

.menu__item {
    width: 250px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    background-color: var(--lightGreen-1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lanche-item__img img {
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
}

.lanche-item__name {
    font-size: 1.4rem;
    color: var(--black-1);
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.lanche-item__description {
    color: var(--green-1);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.lanche-item__price {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--black-1);
    text-align: center;
    margin-top: auto;
}

.lanche-item__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    border: 10px;
}

.lanche-item__btn-area {
    padding: 7px;
}

.adicionar-carrinho-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.lanche-item__button-add-remove {
    background-color: var(--green-2);
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-area__select,
.btn__adicionar-carrinho {
    background-color: var(--green-1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-area__select:hover {
    background-color: var(--black-1);
}


/* Estilos para o botão de quantidade */

.qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    font-size: 16px;
}


/* Estilização dos botões plus e minus */

.minus,
.plus {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: var(--green-1);
    color: #fff;
    cursor: default;
    border-radius: 5px;
}


/* Estilo para o input numérico */

.count {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Altera o estilo do botão de incremento quando hover */

.plus:hover,
.minus:hover {
    background-color: #555;
}

span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input {
    border: 0;
    width: 2%;
}

nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:disabled {
    background-color: white;
}